<div class="">
<div class="table-responsive row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each employees as |employee|}}
        <tr data-test-employee-record>
          <td>
            {{#link-to 'employee' employee.id}}{{employee.id}}{{/link-to}}
          </td>
          <td>
            {{#link-to 'employee' employee.id}}
              {{employee.firstName}}
            {{/link-to}}
            </td>
          <td>
            {{#link-to 'employee' employee.id}}
              {{employee.lastName}}
            {{/link-to}}
          </td>
          <td>
            {{#link-to 'employee' employee.id}}
              {{employee.email}}
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>

