{{#sub-header-with-back-link}}
  Employee Detail
{{/sub-header-with-back-link}}


<div class="row">
  <div class="col-md-4">

    <div>
      <span data-test-employee-detail-full-name-label>Name:  </span>
      <span data-test-employee-detail-full-name>{{employee.fullName}}</span>
    </div>
    <div>Email: <span data-test-employee-detail-email>{{employee.email}}</span></div>
    <div>Tel: {{employee.phoneNumber}}</div>
    <div>Dept: {{employee.department}}</div>

    {{#link-to 'employee.edit' employee.id
              tagName='button'
              class="btn btn-primary"
              data-test-employee-edit-link=true }}EDIT{{/link-to}}

  </div>


</div>
