{{#sub-header-with-back-link}}
  Employee Detail
{{/sub-header-with-back-link}}


<div class="row">
  <div class="col-md-4">

    <div>Name:  {{employee.fullName}}</div>
    <div>Email: {{employee.email}}</div>
    <div>Tel: {{employee.phoneNumber}}</div>
    <div>Dept: {{employee.department}}</div>

    {{#link-to 'employee.edit' employee.id tagName='button' class="btn btn-primary"}}EDIT{{/link-to}}

  </div>


</div>
