
<h2>Employee Detail</h2>
{{#link-to 'index' tagName='button' class="btn btn-default"}}Back{{/link-to}}

<div>Name:  {{employee.fullName}}</div>
<div>Email: {{employee.email}}</div>
<div>Tel: {{employee.phoneNumber}}</div>
<div>Dept: {{employee.department}}</div>

{{#link-to 'employee.edit' employee.id tagName='button' class="btn btn-primary"}}Edit{{/link-to}}
