<h1 data-test-link-to-index>{{#link-to 'index'}}Capco Contacts Manager{{/link-to}}</h1>

<div>
  Navigation Goes here
  <div data-test-link-to-employees>
    {{#link-to 'employees'}}
      Employees
    {{/link-to}}
  </div>
  <div data-test-link-to-settings>
    {{#link-to 'settings'}}
      Settings
    {{/link-to}}
  </div>
</div>
<body>
  {{outlet}}
</body>
