<div class="container">

<h1 data-test-link-to-index>{{#link-to 'index'}}Capco Contacts Manager{{/link-to}}</h1>


  {{#bs-nav type="tabs" as |nav|}}
    {{#nav.item}}{{#nav.link-to "employees"}}employees{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "settings"}}settings{{/nav.link-to}}{{/nav.item}}
  {{/bs-nav}}


<body>
  {{outlet}}
</body>

</div>
