<h1>Capco Contacts Manager</h1>

<div>
  Navigation Goes here
  {{#link-to 'employees'}}
    Employees
  {{/link-to}}
  {{#link-to 'settings'}}
      Settings
  {{/link-to}}
</div>
<body>
  {{outlet}}
</body>
